name: Build and Deploy Application to Raspbarry Pi

on:
  push:
    branches: [ stage ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Build and Deploy Application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.SERVER_SSH_KEY}}
          script: |
            cd /home/indy/lifelink
            chmod +x deploy-latest.sh
            ./deploy-latest.sh
